<div class="main footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Payment &amp; Delivery</h3>
        <a href="#">Terms &amp; Conditions</a>
        <a href="#">Shipping &amp; Returns</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Ways to Pay</a>
      </div>

      <div class="col">
        <h3>Help &amp; Support</h3>
        <a href="#">FAQs</a>
      </div>

      <div class="col">
        <h3>About Us</h3>
        <a href="#">About Vogue.com</a>
        <a href="#">Top Stores</a>
        <a href="#">All Categories</a>
        <a href="#">Sell on VogueAfriq</a>
        <a href="#">Our Blog</a>
      </div>

      <div class="col">
        <h3>Contact Us</h3>
        <a href="#">Support@vogueafriq.com</a>
        <br>
        <h3>Subscribe</h3>
        <div class="input-group">
          <input type="text">
          <button>GO</button>
        </div>
      </div>
    </div>
  </div>
</div>