<div class="main">
  <div class="headerContainer">
    <h2 class="text-center">REGISTRATION</h2>
  </div>
  <div class="form-body">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <form action="#">
            <h3>LOGIN</h3>
            <div class="row no-gutters">
              <div class="col-12 md-form">
                <input type="email" placeholder="Email Address" class="form-control">
              </div>
              <div class="col-12 md-form">
                <input type="password" placeholder="Password" class="form-control">
              </div>
            </div>
            <a href="#" class="text-right" style="margin-right: 15px;">Forgot your password?</a>
            <div class="row no-gutters" style="margin-right: 15px">
              <button>Log In</button>
            </div>
            <a href="#">Don't have an accout?</a>
          </form>
        </div>

        <div class="col-12 col-md-6">
          <form action="#">
            <h3>SIGN UP</h3>
            <div class="row no-gutters">
              <div class="col-6 md-form">
                <input type="text" placeholder="First Name" class="form-control">
              </div>
              <div class="col-6 md-form">
                <input type="text" placeholder="Last Name" class="form-control">
              </div>
              <div class="col-12 md-form">
                <input type="email" placeholder="Email Address" class="form-control">
              </div>
              <div class="col-12 md-form">
                <input type="text" placeholder="Address 1" class="form-control">
              </div>
              <div class="col-12 md-form">
                <input type="text" placeholder="Address 2" class="form-control">
              </div>
              <div class="col-12 md-form">
                <select name="gender">
                  <option>Gender</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
              <div class="col-12 md-form">
                <select name="country">
                  <option>Country</option>
                  <option>Nigeria</option>
                  <option>Brazil</option>
                  <option>Spain</option>
                </select>
              </div>
            </div>
            <div class="row no-gutters" style="margin-right: 15px">
              <button>Log In</button>
            </div>
            <a href="#">Have an account?</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>