<div class="main">
  <div class="headerContainer">
    <h2 class="text-center">REGISTRATION</h2>
  </div>
  <div class="form-body">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <form action="#">
            <h3>LOGIN</h3>
            <input type="email" placeholder="Email Address" class="form-control">
            <input type="password" placeholder="Password" class="form-control">
            <a href="#" class="text-right">Forgot password?</a>
            <button>Log In</button>
            <a href="#">Don't have an accout?</a>
          </form>
        </div>

        <div class="col-12 col-md-6">
          <form action="#">
            <h3>SIGN UP</h3>
            <input type="text" placeholder="First Name" class="form-control col-12 col-lg-6" style="width: 45%; display: inline;">
            <input type="text" placeholder="Last Name" class="form-control col-12 col-lg-6" style="width: 45%; display: inline;">
            <input type="email" placeholder="Email Address" class="form-control">
            <input type="text" placeholder="Address 1" class="form-control">
            <input type="text" placeholder="Address 2" class="form-control">
            <select name="gender" id="">
              <option>Gender</option>
              <option>Male</option>
              <option>Female</option>
            </select>
            <select name="country">
              <option>Country</option>
              <option>Nigeria</option>
              <option>Brazil</option>
              <option>Spain</option>
            </select>
            <button>Register</button>
            <a href="#">Have an account?</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>