<ul class="upperNavList">
    <div style="width: 100%;">
        <li class="upperNav-item">
            <a routerLink="/registration" routerLinkActive="active">
                <span class="register">Register</span>
            </a>
        </li>
        <li class="upperNav-item">
            <a routerLink="/registration" routerLinkActive="active">
                <span class="login">Login</span>
            </a>
        </li>
        <li class="upperNav-item">
            <a routerLink="/storeregister" routerLinkActive="active">
                <span class="sell">Sell on FashionAfriq</span>
            </a>
        </li>
    </div>
</ul>

<mdb-navbar SideClass="navbar navbar-expand-lg intro-fixed-nav">
           
        <!-- Navbar brand -->
        <logo>
            <a class="navbar-brand" routerLink="/index" routerLinkActive="active"><strong>VogueAfriq</strong><span></span></a>
        </logo>
    
        <!-- Collapsible content -->
        <links>
    
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                    Category<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Action</a>
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Another action</a>
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                    Store<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Action</a>
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Another action</a>
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Separated link</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius>Clearance Sale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius>Blog</a>
                </li>

                <!-- Search form -->
                <form class="form-inline  waves-light" mdbRippleRadius>
                    <input class="form-control mr-sm-2" type="text" placeholder="&#xf002;" style="font-family: 'FontAwesome'">
                </form>
                <li class="nav-item">
                    <a href="#" class="nav-link waves-light" mdbRippleRadius>
                        <i class="fa fa-user-circle user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link waves-light" mdbRippleRadius>
                        <i class="fa fa-shopping-bag bag"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link waves-light" mdbRippleRadius>
                        <i class="fa fa-navicon navicon"></i>
                    </a>
                </li>
            </ul>
            <!-- Links -->
    
        </links>
        <!-- Collapsible content -->
    
    </mdb-navbar>


