<div class="main mainTop">
    <!-- <h3 class="text-center" style="font-family: 'Pacifico'">#for her</h3> -->
    <div class="container">
      <div class="row firstRow">
        <div class="col-12 col-lg-6" style="margin-left: -25px; padding-left: 0;">
            <section>
  
                <ul class="nav md-pills nav-justified pills-secondary">
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#panel4" role="tab" aria-selected="true">ALL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel11" role="tab" aria-selected="false">MAN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel12" role="tab" aria-selected="false">SHIRT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel13" role="tab" aria-selected="false">SWEATSHIRT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel14" role="tab" aria-selected="false">JEANS</a>
                    </li>
                </ul>
    
                <!-- Tab panels -->
                <div class="tab-content">
    
                    <!--Panel 1-->
                    <div class="tab-pane fade in active show" id="panel11" role="tabpanel">
                        <section class="imgGrid">
                          <section class="imgColumn">
                            <div class="marginSet">
                              <img src="http://via.placeholder.com/150x200" alt="" class="img">
                              <i class="fa fa-heart-o"></i>
                              <p class="productName text-center">Product One</p>
                              <p class="priceRange text-center">&#8358; 30,000 - &#8358; 50,000</p>
                            </div>
                            <div class="marginSet">
                              <img src="http://via.placeholder.com/150x200" alt="" class="img">
                              <i class="fa fa-heart-o"></i>
                              <p class="productName text-center">Product One</p>
                              <p class="priceRange text-center">&#8358; 30,000 - &#8358; 50,000</p>
                            </div>
                            <div class="marginSet">
                              <img src="http://via.placeholder.com/150x200" alt="" class="img">
                              <i class="fa fa-heart-o"></i>
                              <p class="productName text-center">Product One</p>
                              <p class="priceRange text-center">&#8358; 30,000 - &#8358; 50,000</p>
                            </div>
                            <div class="marginSet">
                              <img src="http://via.placeholder.com/150x200" alt="" class="img">
                              <i class="fa fa-heart-o"></i>
                              <p class="productName text-center">Product One</p>
                              <p class="priceRange text-center">&#8358; 30,000 - &#8358; 50,000</p>
                            </div>
                            <div class="marginSet">
                              <img src="http://via.placeholder.com/150x200" alt="" class="img">
                              <i class="fa fa-heart-o"></i>
                              <p class="productName text-center">Product One</p>
                              <p class="priceRange text-center">&#8358; 30,000 - &#8358; 50,000</p>
                            </div>
                            <div class="marginSet">
                              <img src="http://via.placeholder.com/150x200" alt="" class="img">
                              <i class="fa fa-heart-o"></i>
                              <p class="productName text-center">Product One</p>
                              <p class="priceRange text-center">&#8358; 30,000 - &#8358; 50,000</p>
                            </div>
                          </section>
                        </section>
    
                    </div>
                    <!--/.Panel 1-->
    
                    <!--Panel 2-->
                    <div class="tab-pane fade" id="panel12" role="tabpanel">
                        <br>
    
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
                            porro voluptate odit minima.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
                            porro voluptate odit minima.</p>
    
                    </div>
                    <!--/.Panel 2-->
    
                    <!--Panel 3-->
                    <div class="tab-pane fade" id="panel13" role="tabpanel">
                        <br>
    
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
                            porro voluptate odit minima.</p>
    
                    </div>
                    <!--/.Panel 3-->
    
                    <!--Panel 4-->
                    <div class="tab-pane fade" id="panel14" role="tabpanel">
                        <br>
    
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
                            porro voluptate odit minima.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
                            porro voluptate odit minima.</p>
    
                    </div>
                    <!--/.Panel 4-->
    
                </div>
    
            </section>
        </div>
  
        <div class="col-12 col-lg-6" style="margin-left: 25px;">
            <h2>#forhim</h2>
            <div class="row" style="margin-left: 25px;">
              <div class="col-12 col-md-6">
                <img src="../../assets/img/simple.jpeg" alt="" class="img firstImg">
              </div>
              <div class="col-12 col-md-6">
                <div class="row secondRow">
                  <div class="col-12">
                    <img src="../../assets/img/sample.jpeg" alt="" class="img secondImg">
                  </div>
                  <div class="col-12">
                    <img src="../../assets/img/laHot.jpeg" alt="" class="img secondImg">
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>