<div class="main">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="img" style="background: url('../../assets/img/houdini.jpeg')"></div>
      </div>
      <div class="col">
          <div class="img" style="background: url('../../assets/img/catmen.jpeg')"></div>
      </div>
      <div class="col">
          <div class="img" style="background: url('../../assets/img/skyler.jpeg')"></div>
      </div>
      <div class="col">
          <div class="img" style="background: url('../../assets/img/allgap.jpeg')"></div>
      </div>
      <div class="col">
          <div class="img" style="background: url('../../assets/img/burley.jpeg')"></div>
      </div>
      <div class="col">
          <div class="img" style="background: url('../../assets/img/made.jpeg')"></div>
      </div>
    </div>
  </div>
</div>