$danger-color: #EB5757;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }

.main {
    margin: 30px 0;
    position: relative;
    height: auto;
    
    .imgGrid {
        margin: 0 auto;
        padding: .5em;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        top: 0;
        width: 100%;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    
    .imgColumn {
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .img {
            height: 400px;
            width: auto;
            margin: .5em;
            object-fit: contain;
        }
    }
}

// .img {
//     height: 350px;
//     max-width: 26%;
//     display: inline-block;
//     padding: 5px;
//     object-fit: contain;
//     overflow: hidden;
//     @include xl {
//         max-width: 26%;
//     }
//     @include lg {
//         max-width: 46%;
//     }
// }

// .container {
//     position: relative;
//     width: 96%;
//     max-width: 960px;
//     margin: 0 auto;
//     text-align: center;
// }