<div class="main">
  <div class="container">
    <ul>
      <li class="float-left">
        <div class="img" style="background: url('../../assets/img/blackBuoys.jpeg')"></div>
      </li>
      <li class="float-right">
        <div class="img" style="background:url('../../assets/img/sessy.jpeg')"></div>
      </li>

      <div class="outerLine">
        <span class="sale">
          <h3 class="saleTxt">SALE</h3>
          <h3 class="oktober">#OKTOBERSALE</h3>
        </span>
      </div>
    </ul>
  </div>
</div>