<div class="main">
  <div class="headerContainer">
    <h2 class="text-center">Create Your Store Page on VogueAfriq</h2>
  </div>
  <div class="form-body">
    <div class="container">
      <form action="">
        <div class="row no-gutters">
          <div class="col-12 md-form">
            <input mdbActive type="text" class="form-control" placeholder="Store Name">
          </div>
          <div class="col-12 md-form">
            <input mdbActive type="text" class="form-control" placeholder="Description">
          </div>
          <div class="col-12 md-form">
            <input mdbActive type="email" class="form-control" placeholder="Email Address">
          </div>
          <div class="col-12 md-form">
            <input mbdActive type="password" class="form-control" placeholder="Password">
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-6 md-form">
            <input mbdActive type="text" class="form-control" placeholder="First Name">
          </div>
          <div class="col-6 md-form">
            <input mbdActive type="text" class="form-control" placeholder="Last Name">
          </div>
          <div class="col-12 md-form">
            <input mbdActive type="number" class="form-control" placeholder="Phone Number">
          </div>
          <div class="col-12 md-form">
            <input mbdActive class="form-control" type="text" placeholder="Address">
          </div>
          <div class="col-12 md-form">
            <input mbdActive class="form-control" type="text" placeholder="City">
          </div>
        </div>

        <div class="row no-gutters" style="margin-right: 15px">
          <button>CREATE STORE</button>
        </div>
      </form>
    </div>
  </div>
</div>