.main {
    
    .headerContainer {
        background: #BDBDBD;
        padding: 40px;
        
        h2 {
            color: #4F4F4F;
            font-weight: bold;
            font-family: 'Montserrat';
            font-size: 18px;
            letter-spacing: 2.5px
        }
    }

    .form-body {
        background: #E0E0E0;
        padding: 50px 0 100px;

        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 30px 0;

            .row {
                margin-bottom: 50px;
                margin-right: 25px;
                margin-left: 0;
            }

            .md-form {
                margin-bottom: 0;
            }

            input {
                background: #FFF;
                border-bottom: none;
                margin: 1px;
                margin-bottom: 2px;
                padding-left: 25px;
                width: 95%;
                color: #4F4F4F;
                font-weight: 400;
            }

            
            input::placeholder {
                color: #4F4F4F;
                font-weight: 300;
            }
            
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                -moz-appearance: textfield;
                margin: 0; 
            }

            .col-6 {
                max-width: 48.55%;
            }

            button {
                height: 50px;
                display: block;
                border: none;
                background: #FF473A;
                color: #FFF;
                font-weight: bold;
                width: 100%;
            }
        }
    }
}