<div class="main">
  <div class="headerContainer">
    <h2 class="text-center">Create Your Store Page on VogueAfriq</h2>
  </div>
  <div class="form-body">
    <div class="container">
      <form action="">
        <div class="row">
          <input class="col-12 form-control" type="text" placeholder="Store Name">
          <input class="col-12 form-control" type="text" placeholder="Description">
          <input class="col-12 form-control" type="email" placeholder="Email Address">
          <input class="col-12 form-control" type="password" placeholder="Password">
        </div>

        <div class="row">
          <input class="col-6 form-control" type="text" placeholder="First Name">
          <input class="col-6 form-control" type="text" placeholder="Last Name">
          <input class="col-12 form-control" type="number" placeholder="Phone Number">
          <input class="col-12 form-control" type="text" placeholder="Address">
          <input class="col-12 form-control" type="text" placeholder="City">
        </div>

        <button>CREATE STORE</button>
      </form>
    </div>
  </div>
</div>