<header>
    <!-- Main -->
    <div class="main">
      <div class="view hm-black-strong" style="background: url('../../assets/img/bg.jpeg') no-repeat center center">
        <div class="full-bg-img flex-center">
          <div class="row no-gutters center" style="height: 100%; width: 100%;">
            <div class="col-md-4 ml-auto">
              <div class="row no-gutters">
                <div class="col-12">
                  <div class="storeBtn">Odeku Stores</div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-6" style="padding-right: 5px;">
                  <div class="storeBtn">Rex Stores</div>
                </div>
                <div class="col-6" style="padding-left: 5px;">
                  <div class="storeBtn">Ibro Stores</div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-6" style="padding-right: 5px;">
                  <div class="storeBtn">Christy Stores</div>
                </div>
                <div class="col-6" style="padding-left: 5px;">
                  <div class="storeBtn">Cossly Wears</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <div class="row no-gutters">
            <div class="col-md-8 mr-auto">
                <div class="black-text textContainer">
                    <h2 style="font-family: 'Pacifico'">the</h2>
                    <h2><span style="color: #EB5757">FASHION</span> <span style="font-family: 'Abril Fatface'">| EDIT</span></h2>
                    <h2 style="font-family: 'Pacifico'">2017 edition</h2>
                    <button class="btn waves-light" mdbRippleRadius>SHOP NOW <i class="fa fa-chevron-right ml-1"></i></button>
                </div>
            </div>
          </div>
    </div>
    <!-- /.Main -->
</header>    

<new-arrivals></new-arrivals>
<for-her></for-her>
<for-him></for-him>
<sale></sale>
