$danger-color: #EB5757;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }

.main {
    height: 450px;
    position: relative;

    .textContainer {
        position: relative;
        padding: 50px;

        h2 {
            font-size: 52px;
            transition: all 0.5s;
            @include md {
                font-size: 45px;
            }
            @include sm {
                font-size: 38px;
            }
        }

        button {
            background: $danger-color;
            font-weight: bold;
            margin-top: 30px;
        }
    }


    .view {
        background-size: cover;
        height: 450px;
        width: 100%;
        opacity: .4;
        position: absolute;

        .row.center {
            height: 33%;
            text-align: center;
            color: #FFF;
            font-weight: bold;
            @include md {
                display: none;
            }

            .storeBtn {
                // height: 90%;
                background: $danger-color;
                padding: 50px;
                font-size: 15px;
                letter-spacing: 1.5px;
            }

            .col-6 {
                padding-top: 10px;
            }
        }
    }
}