 <!-- Main -->   
 <div class="main">
  <div class="view hm-black-light" style="background: url('../../assets/img/bg.jpeg') no-repeat center center;">
     <div class="full-bg-img"></div>

     <div class="row rowContainer">
       <div class="col-4 ml-auto">
         <div class="row">
           <div class="col-12 storeBtn" style="margin-top: 0;">Odeku Stores</div>
         </div>
         <div class="row">
           <div class="col-5 storeBtn">Rex Stores</div>
           <div class="col-5 ml-auto storeBtn">Ibro Stores</div>
         </div>
         <div class="row">
           <div class="col-5 storeBtn">Christy Stores</div>
           <div class="col-5 ml-auto storeBtn">Cossly Wears</div>
         </div>
       </div>
     </div>
   </div>
   <div class="row" style="margin: 0;">
     <div class="col-8">
       <div class="black-text textContainer">
           <h2 style="font-family: 'Pacifico'">the</h2>
           <h2><span style="color: #EB5757">FASHION</span> <span style="font-family: 'Abril Fatface'">| EDIT</span></h2>
           <h2 style="font-family: 'Pacifico'">2017 edition</h2>
           <button class="btn waves-light" mdbRippleRadius>SHOP NOW <i class="fa fa-chevron-right ml-1"></i></button>
       </div>
     </div>
   </div>
</div>
<!-- /.Main -->

<new-arrivals></new-arrivals>
<for-her></for-her>
<for-him></for-him>
<sale></sale>